<form action="">
    <h1>ATUALIZAR PRODUTO</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="produto.nome"  [formControl]="nome" required type="text" name="Nome" placeholder="Ex: Mouse Gamer" maxlength="100">
        <mat-error *ngIf="nome.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="produto.marca" [formControl]="marca" required type="text" name="marca" placeholder="Ex: Hoopson" maxlength="100">
        <mat-error *ngIf="marca.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Conteudo</mat-label>
        <textarea matInput [(ngModel)]="produto.conteudo" [formControl]="conteudo" required type="text" name="conteudo" placeholder="Ex: Mouse Gamer USB, cd de instalação" maxlength="200"></textarea>
        <mat-error *ngIf="conteudo.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button  (click)="update()" class="mat-elevation-z8" [disabled]="getMessage()" mat-stroked-button color="primary" >ATUALIZAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn" >CANCELAR</button>
    </div>
</form>