.content{
    width: 90%;
    margin: 1.4rem auto
}
.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    font-weight: bold;
    color: #0197da;
}

button{
    margin-bottom: 1rem;
}

.table {
    width: 100%;
}
.produtos{
    color: black;
    margin-left: 1.2rem;
}

.edit{
    color: rgb(0, 0, 0);
}
.delete{
    color: rgb(255, 87, 87);
    margin-left: 10px;
}

.mat-header{
    width: 5rem;
}